html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1 {
	font-family: 'Archivo', sans-serif;

}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("abduction/img/space.jpeg");
	color: white;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	backdrop-filter: blur(5px) ;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

p, [for="abtype"], [for="comments"] {
	margin: 2rem 0 1rem 0;
}

fieldset {
	border: 2px solid;
	border-radius: 8px;
	margin-bottom: 2rem;
}

legend {
	font-weight: 700;
	color: #96c5db;
	margin: 1.5rem 1rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

textarea {
	height: 10rem;
	padding: 1rem;
}

select {
	font-size: 1rem;
}

button {
	font-size: 1rem;
	margin: 2rem 0;
	background-color: #C99860;
	border: 2px solid black;
	border-radius: 8px;
	padding: 0.5rem 2rem;
	
}

button:hover {
	background-color: #975b17;
	color: white;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;

}












